<div class="table-responsive p-40">
  <table id="planets-table" class="table table-hover bg-body align-middle">
    <thead>
      <tr>
        <th class="px-20 py-10 text-muted fw-normal">Name</th>
        <th class="text-muted fw-normal">Color</th>
        <th
          data-testid="toggle-radius"
          class="text-muted fw-normal"
          (click)="onToggleRadiusClick()"
        >
          Radius in km @if (sortDirection === 'desc') {
          <i data-testid="arrow-down" class="bi bi-caret-down-fill"></i>
          } @if (sortDirection === 'asc') {
          <i data-testid="arrow-up" class="bi bi-caret-up-fill"></i>
          }
        </th>
        <th class="text-muted fw-normal">Dist. from Sun</th>
        <th class="text-muted fw-normal">Dist. from Earth</th>
      </tr>
    </thead>
    <tbody>
      @for (planet of planets; track $index) {
      <tr>
        <td class="px-20 py-2">
          <a
            class="text-decoration-none"
            [routerLink]="['/planets', planet.id]"
          >
            <div class="d-flex align-items-center">
              <img
                width="60"
                height="60"
                [src]="planet.imageUrl"
                alt=""
                class="rounded-circle me-3"
              />
              <div>
                <div data-testid="planet-name" class="fw-semibold">
                  {{ planet.planetName }}
                </div>
                <div
                  class="text-muted small text-truncate"
                  style="max-width: 330px"
                >
                  {{ planet.description }}
                </div>
              </div>
            </div>
          </a>
        </td>

        <td>{{ planet.planetColor }}</td>
        <td>{{ planet.planetRadiusKM }}</td>
        <td>{{ planet.distInMillionsKM.fromSun }}</td>
        <td>{{ planet.distInMillionsKM.fromEarth }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
